{% extends "Rights/base.html" %}
{% load static %}{% block title %}权益说{% endblock %}

{% block content %}
<div class="container">
    <ul class="row">
        <li class="">
            <a class="" href="" target="_blank">22</a>
            <div class="content">
                <div class="author">
                    <a></a>
                    <div class="name">
                        <a></a>
                        <span class="time"></span>
                    </div>
                </div>
                <a id="title1" href="" target="_blank">加油</a>
                <p class="abstract">"zxzx臧奇颜"</p>
                <div>
                    <a class="" href="" target="_blank">图书馆</a>
                    <span>
                            <i class="icon-eye">266</i>
                        </span>
                    <span>
                            <i class="icon-comment">32</i>
                        </span>
                </div>

            </div>
        </li>
        <li>
            hh
        </li>
    </ul>
</div>
{% endblock %}